<template name="searchproduct">
	<h1>Products</h1>
	<div class="container">
			
				<div class="col-md-12">
					<div class="hold_result">
						<p>{{nbproducts}} products result</p>
					</div>
					<div class="hold_bradcame">
						<p class="pull-left green">Best selling <span class="fa fa-caret-right"></span></p>
						<p class="pull-right black">View by page</p>
					</div>

		<div class="hold_product">
			
				{{#each product}}
				

				<div class="col-xs-6 col-md-3 product_item">
						<div class="thumbnail text-left">
								<div class="clearfix" style="width: 100%; margin-bottom:10px; height:200px">
										<a href="{{pathFor 'details' id=_id}}" title="{{title}}">
											<img src="/upload/{{getImg image}}" class="img-responsive " width="200" height="150">
										</a>
									</div>


									<div class="clearfix" style="width: 100%;height:45px;line-height:90%;">
										<a href="{{pathFor 'details' id=_id}}" class="title">{{title}}</a>
									</div>
									<div class="clearfix text-center" style="width: 100%; height: 30px; overflow: hidden;">
										<a href="{{pathFor 'details' id=_id}}" class="price">{{price}} </a><a href="" class="price" >
			{{#if isLiked _id}}  
			<span class="fa fa-heart red pull-right" style="padding-left:4px;" id="favorite"></span>
			{{else}}
			<span class="fa fa-heart-o pull-right" style="padding-left:4px;" id="favorite"></span>
			{{/if}}
			</a>
									</div>


								</div>
							</div>
				{{/each}}
				
			
		</div>
				</div>
	<a class="more">Load More</a>		
		</div>

		<h1>Contents</h1>
	<div class="container">
		<div class="hold_result">
						<p>{{nbcontents}} contents results</p>
		</div>
		<!-- {{#each content}}
			{{title}}<br />
		{{/each}} -->
					
	</div>
	{{#each content}}
	<div class="container">
				<div class="mode-news webzine-title1">
					<h2 class="text-center bold"><a href="#">{{title}}</a></h2>
					<div class="mode-img"><a href="#">
						<img src="/upload/{{getImg image}}" class="center-block img-responsive"></a>
					</div>
					<div class="mode-description">
						<!-- <p class="center-block">{{{content}}}</p> -->
					</div>
						
					
				</div>
			</div>
		<section id="not-line-straight">
			<img src="/images/line1.jpg" class="img-responsive">
		</section>
		{{/each}}
    


</template>