<template name="registerSuccess">
 <div class="container">
	<div class="modal" id="squarespaceModal" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true" style="padding:80px">
        <div class="modal-dialog modal-lg">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">x</span><span class="sr-only">Close</span></button>
					<h3 class="modal-title" id="lineModalLabel">Thanks for joined us!</h3>
				</div>
				  
				<div class="modal-body">
					You have successfully registered. <a  id="goto-login">Login</a> to order any products. 
				</div>
			</div>
        </div>
    </div>
  </div>
</template> 
<template name="login">
	<div class="container">
		<!--<div class="center">
			<button data-toggle="modal" data-target="#squarespaceModal" class="btn btn-primary center-block">Safir popup</button>
		</div>-->
		<div class="modal alert" id="squarespaceModal" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
			<div class="modal-dialog modal-lg">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal"><img src="/images/system/cancel_login-01.png" /></button>
						<h3 class="modal-title" id="lineModalLabel"></h3>
					</div>
              
					<div class="modal-body">
						<div class="col-md-6">
							<p id="loginError" style="color:red;"></p>
							<fieldset style="margin-top:90px; border-right:2px solid #333;">
								<form class="form-horizontal" method="post">
									<h2 class="text-center title-form">{{_ "Login"}}</h2> 
									<div class="hold_input_login">
										<div class="form-group" style="margin-bottom:20px;">
											<label>{{_ "Username"}}</label>
											<input class="form-control" name="email">
										</div>
										<div class="form-group">
										  <label>{{_ "Password"}}</label>
											<input class="form-control" name="password" type="password">
										</div>
										<div class="form-group">
										  <button class="btn btn-danger btn_login">{{_ "Login"}}</button>
										  <label class="pull-right">
										   <a href="#" style="color:#333;text-decoration: underline #d9534f;">{{_ "Forgot your password ?"}}</a>
										  </label>
										</div>
									</div>
								</form>
							</fieldset>
						</div>
               
						<div class="col-md-6">
							<form role="form">
								<h2 class="text-center title-form">{{_ "Register"}}</h2>  
								<div class="hold_input_register">
									<div class="form-group">
										<label for="username">{{_ "Username"}}:</label>
										<input name="username" id="username" class="form-control input_border reg-username" placeholder="" type="text">
									</div>
									<div class="row">
										<div class="col-xs-6 col-sm-6 col-md-6">
											<div class="form-group">
												<label for="first_name">{{_ "First name"}}:</label>
												<input name="first_name" id="first_name" class="form-control input_border reg-firstname" placeholder="" type="text">
											</div>
										</div>
										<div class="col-xs-6 col-sm-6 col-md-6">
											<div class="form-group">
												<label for="last_name">{{_ "Last name"}}:</label>
												<input name="last_name" id="last_name" class="form-control input_border reg-lastname" placeholder="" type="text">
											</div>
										</div>
									</div>
									<div class="row">
										<div class="col-xs-6 col-sm-6 col-md-6">
											<div class="form-group">
												<label for="pays">Pays:</label>
												<input name="pays" id="pays" class="reg-country form-control input_border" placeholder="" type="text">
											</div>
										</div>
										<div class="col-xs-6 col-sm-6 col-md-6">
											<div class="form-group">
												<label for="ville">{{_ "Ville"}}:</label>
												<input name="ville" id="ville" class="reg-city form-control input_border" placeholder="" type="text">
											</div>
										</div>
									</div>
									<div class="form-group">
										<label for="email">{{_ "Email"}}:</label>
										<input name="email" id="email" class="reg-email form-control input_border" placeholder="" type="email">
									</div>

									<div class="form-group">
										<label for="password">{{_ "Password"}}:</label>
										<input name="password" id="password" class="reg-password form-control input_border" placeholder="" type="password">
									</div>
									<a href="" id="register" class="btn btn-danger btn-register">{{_ "Register"}}</a>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>  
	</div>

</template>
