
.thumbnail {
    position:relative;
    overflow:hidden;
    border: none;
}
 
.caption {
    position:absolute;
    top:0;
    right:0;
    /*background:rgba(66, 139, 202, 0.75);*/
    width:74%;
    height:0%;
    padding:2%;
    display: none;
    text-align:center;
    color:#fff !important;
    z-index:2;
}
.thumbnail .caption {
    padding: 9px;
    color: #333;
    margin: 63px 0px 0px -15px !important;
}
.caption p{line-height: 8.5em;}
