/*kimhieng*/
/*Submenu of Community*/
.skyblue li a.color11:hover{
	box-shadow:0px 0px 3px #888888;
	border:5px solid;
	background:#de271b;
	color:#fff;
	font-family:DINCondensed Bold;padding-top:3px;
}

.skyblue li a.color11{
	color: #fff;
	background:#000;
	border:5px solid #fff;
	font-family:DINCondensed Bold;padding-top:3px;
}
.img_submenu{
	padding-left: 100px;
}	
.border_menu{
	border-left:2px solid #20abe2;
	padding:0px 20px;
}

.col1_commu{
	width:27%;/*change width:20% to width:27%*/
	margin: 0px 15px;
	text-align:center;
	text-decoration:none;
	color:#fff;
	font-size:24px;
}
.commu_sub{
	padding:10px 0px;
}
.col1_commu ul li a {
	color:#fff;
	text-decoration:none;
	padding: 0px 85px 0px 85px;/*add this line to change padding when hover*/
	margin-left: -17px;/*add this line to change padding when hover*/
}
.commu_sub .col1_commu ul:hover{
	background-color: #de271b;
	color: #fff;
}
/*Button All near search box*/
.btn_all {
	display: inline-block;
	padding: 7px 12px;
	margin-bottom: 0px;
	margin-top:0em;
	font-size: 1em;
	font-weight: bold;
	line-height: 1.42857;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	cursor: pointer;
	-moz-user-select: none;
	background-image: none;
	border:0px;
	box-shadow:6px 1px 3px #ccc;
	background:#ffffff;
	font-family: Arial, Helvetica, sans-serif;
	color:#000000;
}
#menu_all{
    display: none;
}
li.sub_all{
	display: inline;
	padding: 10px 5px 10px 5px;
}
ul.list-inlines{
	list-style-type: none;
	margin-top: 0px;
	padding: 7px 0px;
	margin-left: 4px;
	box-shadow: 1px 1px 3px #CCC;
}
ul.list-inlines li a:hover {
	color:#20abe2;
	text-decoration:none;
}
.sub_all a{
	color:#808080;
}
.borderleft{
	border-left:2px solid #ccc;
}
.borderleft{
	border-left:1px solid #333;
	padding:0px 10px;
}