/*kimhieng on 27/11/2015*/
#navbar .megamenu > li > a.megamenu_drop9{
	background:#000;
	color: #fff;
	border-style: solid;
	border-width: 7px 12px 7px 12px;
	font-family:helvetica;
	padding: 11px;
	font-weight: bold;
	margin-top:-5px;
}
#navbar .megamenu > li > a.megamenu_drop9:hover{
	background-color:#de271b;
	color: #ffffff;
	box-shadow:0px 0px 3px #888888;
}
.col1_commu ul li a{
  width: 20%;
  margin: 0px 8px;
  background: #333;
  border: 1px solid #ddd;
  text-align: center;
  text-decoration: none;
  color: #fff;
  font-size: 24px;
  padding: 0px 37px 0px;
}
 .col1_commu{
	margin-bottom: -15px;
 }