<template name="translateparentTag">
	<div class="container">
		<h1>Update Parent Tag</h1>
			<form>
					<input type="hidden" class="form-control" name="idparenttags" id="idparenttags" value="{{_id}}">
					<label>Title</label>
					<input type="text" class="form-control" name="title" id="title">
					<br>
					<button type="submit" class="btn btn-primary" id="btnAdd">Add</button>
			</form>
	</div>
</template>
<template name="translatTags">
	<div class="container">
		<h1>Update Tag</h1>
			<form>
					<input type="hidden" class="form-control" name="idtags" id="idtags" value="{{_id}}">
					<label>Title</label>
					<input type="text" class="form-control" name="title" id="title">
					<br>
					<button type="submit" class="btn btn-primary" id="btnAdd">Add</button>
			</form>
	</div>
</template>
<template name="translatParent_attr">
	<div class="container">
		<h1>Update ParentAtrribute</h1>
			<form>
					<input type="hidden" class="form-control" name="idtags" id="idParentattr" value="{{_id}}">
					<label>Title</label>
					<input type="text" class="form-control" name="title" id="title">
					<br>
					<button type="submit" class="btn btn-primary" id="btnAdd">Add</button>
			</form>
	</div>
</template>
<template name="transleattribute_value">
	<div class="container">
		<h1>Update Attribute</h1>
			<form>
					<input type="hidden" class="form-control" name="idattr" id="idattr" value="{{_id}}">
					<label>Title</label>
					<input type="text" class="form-control" name="title" id="title">
					<br>
					<button type="submit" class="btn btn-primary" id="btnAdd">Add</button>
			</form>
	</div>
</template>
<template name="transleshops">
	<div class="container">
		<h1>Update Shop</h1>
			<form>
					<input type="hidden" class="form-control" name="idshops" id="idshops" value="{{_id}}">
					<label>Title</label>
					<input type="text" class="form-control" name="title" id="title">
					<br>
					<button type="submit" class="btn btn-primary" id="btnAdd">Add</button>
			</form>
	</div>
</template>