<template name="addproduct">
	 <div class="container">
<form role="form" class="form-horizontal">

<input type="hidden" id="tags" value="{{myTags}}"/>	

	<div class="form-group">
		<label class="control-label col-sm-3" for="title">Title <span style="color:red">*</span></label>
		<div class="col-sm-9">
			<input type="title" name="title" id="title" class="form-control input-sm" placeholder="Title" value="{{title}}"  >
		</div>
	</div>
	<div class="form-group">
		<label class="control-label col-sm-3" for="description">Description<span style="color:red"> *</span></label>
		<div class="col-sm-9">

			<textarea rows="5" name="description" id="editor1" value="{{description}}" class="form-control input-sm" placeholder="Description"></textarea>


		</div>
	</div>
	<div class="form-group">
		<label class="control-label col-sm-3" for="price">Priority <span style="color:red">*</span></label>
		<div class="col-sm-9">
			<input type="text" name="priority" id="priority" class="form-control input-sm" placeholder="Priority" value="{{priority}}">
		</div>
	</div>
	<!--<div class="form-group">
		<label class="control-label col-sm-3" for="price">Price <span style="color:red">*</span></label>
		<div class="col-sm-9">
			<input type="text" name="price" id="price" class="form-control input-sm" placeholder="Price" value="{{price}}">
		</div>
	</div>

	

	<div class="form-group">
		<label class="control-label col-sm-3" for="price">Point <span style="color:red">*</span></label>
		<div class="col-sm-9">
			<input type="text" name="point" id="point" class="form-control input-sm" placeholder="Point" value="{{point}}">
		</div>
	</div> -->

	<div class="form-group">
		<label class="control-label col-sm-3" for="Brand">Brand <span style="color:red">*</span></label>
		<div class="col-sm-9">
			<!--<input type="text" name="brand" id="brand" class="form-control input-sm" placeholder="Brand" value="{{Brand}}">-->
			<select class="form-control" id="brand">
				<option value="{{Brand}}">{{Brand}}</option>
				{{#each getBrand}}
					<option value="{{this}}">{{this}}</option>
				{{/each}}
			 </select>
		</div>
	</div>
	
	<div class="form-group">
		<label class="control-label col-sm-3" for="category"> Categories <span style="color:red">*</span></label>
		<div class="col-sm-9">
			<select class="form-control" id="category">
				<option value="{{category}}">{{catName category}}</option>
				{{#each getCat}}
					<option value="{{_id}}">{{title}}</option>
				{{/each}}
			 </select>
		</div>
	</div>
	
	<div class="form-group">
		<label class="control-label col-sm-3" for="image">Image <span style="color:red">*</span></label>
		<div class="col-sm-9">
		<input type="file" name="image" id="image" class="your-upload-class form-control input-sm" placeholder="image">
		</div>
	</div>

	<div class="form-group">
		<label class="control-label col-sm-3" for="category"> Attribute <span style="color:red">*</span></label>
		<div class="col-sm-2">
			<select class="form-control" id="parent_attr">
				<option value="0">Select Attribute</option>
				{{#each getParentAttr}}
					<option value="{{_id}}">{{name}}</option>
				{{/each}}
			 </select>
		</div>

		<div class="col-sm-2">
			<select class="form-control" id="attribute">
				
				{{#each getAttr parentAttr}}
					<option value="{{value}}">{{value}}</option>
				{{/each}}
			 </select>
		</div>


		
		<div class="col-sm-1">
			<input type="text" name="price_attr" id="price_attr" class="form-control input-sm" placeholder="Price">
		</div>
	

	
		
		<div class="col-sm-1">
			<input type="text" name="point_attr" id="point_attr" class="form-control input-sm" placeholder="Point">
		</div>
		<div class="col-sm-1">
			<input type="text" name="barcode" id="barcode" class="form-control input-sm" placeholder="Barcode">
		</div>
	
	
		<div class="col-sm-1">
			<input  value="Add" id="add_attr" class="btn btn-primary btn-block">
		</div>
	</div>


	<div class="form-group">
								<label class="control-label col-sm-3" for="tag">Tag </label><br>
								<div class="col-sm-9">
									{{#each parentTag}}
									<div class="col-sm-2">
										{{catName category_id}} : {{title}}:
										 <select class="form-control" id="tag_{{_id}}">
										
										{{#each getTag _id}}
											<option value="{{_id}}" id="{{../_id}}">{{title}}</option>
										{{/each}}
									 </select><br>
									 <input  value="Add" id="tagAdd" class="btn btn-primary btn-block">
									</div>
									{{/each}}
								</div>
							</div>
	<div class="form-group">
		<div class="row">
			<label class="control-label col-sm-3" for="shop">Shop </label><br>
			<div class="col-sm-3">
				<select class="form-control" name="myshop" id="myshop">
					<option value="">Select Shop</option>
					{{#each getShop}}
						<option value="{{_id}}">{{name}}</option>
					{{/each}}
				</select>
			</div>
			<div class="col-sm-3">
				<input type="text" name="instock" id="instock" value="" class="form-control input-sm" placeholder="0">
			</div>
			<div class="col-sm-3">
				<input type="button" value="Add" id="addshop" class="btn btn-primary">
			</div>
		</div>
		<div id="shophtml"></div>
	</div>
	<div class="form-group">
		<div class="col-sm-offset-3 col-sm-2">
			<input  value="Create" id="btnAdd" class="btn btn-primary btn-block">
		</div>
	</div>
</form>

<div id="recap-attribute">
	<table>
		<tr>
			<th>Category</th>
			<th>Attribut</th>
			<th>Price</th>
			<th>Point</th>
			<th>Barcode</th>
			<th>Action</th>
		</tr>
		

							
		{{#each listAttr}}
			<tr>
				<td>{{getParentName parent}}</td>
				<td>{{attribute}}</td>
				<td>{{price}}</td>
				<td>{{point}}</td>
				<td>{{barcode}}</td>
				<td><a href="" class="deleteAttr" style="color:blue;">Delete</a></td>
			</tr>
		{{/each}}
		</table>
	</div>
	<div id="recap-attribute">
		<table>
		<tr>
			<th>Parent Tag</th>
			<th>Tag</th>
			<th>Action</th>
		</tr>
		{{#each listTag}}
		<tr>
			<td>{{getParentNameTag parent}}</td>
			<td>{{value}}</td>
			<td><a href="" class="deleteTag" style="color:blue;">DELETE</a></td>
		</tr>
		{{/each}}
		
		</table>
	</div>
</div>
	<script type="text/javascript">
	CKEDITOR.replace( 'editor1' );
</script>				
</template>