<template name="checkout">

 <!--<meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>-->
<section class="shadow_bottom" id="checkout">
	<div class="container" style="padding-bottom:20px;">
			
			<h1 class="content-text-review">Checkout</h1>
			<hr>
			<div class="row">
				<div class="col-md-12">
					<table class="table table-striped">
					    <thead>
					      <tr>
					        <th>Image</th>
					        <th>Product Name</th>
					        <th>Shop</th>
					        <th>Qty</th>
					        <th>Price</th>
					        <th>subtotal</th>
					        <th>Tools</th>
					      </tr>
					    </thead>
					    <tbody>
					    {{#each getCart}}
					      <tr>
					        <td>{{#with getProductInfo id_product}}<a href="/details/{{_id}}"><img src="/upload/{{getImg image}}" class="img-responsive" style="width:70px; height:70px;"></a>{{/with}}
					        </td>
					        <td>
					        	{{#with getProductInfo id_product}}{{title}}{{/with}}
					        </td>
					        <td>
					        	{{getShopName shop}}
					        </td>
					        <td>
					        	{{quantity}}
					        </td>
					        <td>
					        	{{#with getProductInfo id_product}}{{price}}{{/with}}
					        </td>
					        <td>
					        	{{subtotal}}
					        </td>
					        <td>
					        	<a href="" class="remove glyphicon glyphicon-trash" style="color:black;"></a>
					        </td>
					      </tr>
					  	{{/each}}
					  	<tr>
					  		<td colspan="5" align="right">
					  			<strong>Total</strong>
					  		</td>
					  		<td colspan="2" align="center">
					  			<strong>{{getTotal}}</strong>
					  		</td>
					  	</tr>
					    </tbody>
					  </table>
					
					<div class="row">
						<!-- Address -->
						   <!-- <table class="table">
									<tbody>
										{{#with getprofile}}
										
										<tr>
											<td><strong>Email:</strong></td>
											{{#each emails}}
											<td style="font-weight:bold" id="email">{{address}}</td>
											{{/each}}
										</tr>
										<tr>
											<td><strong>Address:</strong></td>
											<td style="font-weight:bold" id="address">{{profile.address}}</td>
										</tr>
										{{/with}}
									</tbody>
									
								</table> -->
					
					<!-- End Address -->
					</div>
					<div class="row">
						<hr><div class="pull-right"><input type="button"  class="btn btn-primary" style="background:#000" id="btnAdd" value="Proceed Order"></div>
					</div>

				</div>
				<div class="clearfix"></div>
				<div class="col-md-3"></div>
				
			</div>
	</div>
</section>
</template>